.body{
    margin-top: 80px;
    text-align: center;
    background-color: rgb(43, 189, 189);
}

.navbar{
    background-color: rgb(0, 132, 255);
}

.imagenav{
    width: 50px;
    height: 40px;
}

.titulos{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 69px;
    font-weight: bolder;
}

.enlace{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
}

.textos{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.img{
    width: 100%;
    max-width: 400px;
    float: left ;
    margin-right: 4px;
}

.ul{
    display: inline-block;
    text-align: left;
}

.borde{
    border-style: groove;  
    border-radius: 50cm; 
    border-width: 50px; 
}

.row{
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    margin-top: 0px;
    margin-bottom: 4px;
}

@media (min-width: 768px) {
    .center-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }