.centrado{
    text-align: center;
    background-color: rgb(163, 255, 255);
}




p{
    margin-top: 0px;
    margin-bottom: 4px;
    
}

.enlace{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 0px;
    color: rgb(255, 255, 255);
}
